/* General */
$maxWidth: 1200px;

/* Top height */
$topHeight: 80px;

/* Breakpoints */
$xs: 320px;
$m-xs: 321px;
$sm: 480px;
$m-sm: 481px;
$md: 768px;
$m-md: 769px;
$xmd: 844px;
$m-xmd: 845px;
$lg: 978px;
$m-lg: 979px;
$xlg: 1199px;
$m-xlg: 1200px;