.container {
	max-width: 100%;
	overflow: hidden;
	text-align: center;
}

.row {
	display: flex;
	margin: 0 auto;
	min-height: 100vh;
	background-color: $greyLight;
	
	.col-4 {
		width: 40%;
		max-width: 40%;
	}
	.col-6 {
		width: 60%;
		max-width: 60%;
	}
	.col-10 {
		width: 100%;
	}

	@media(max-width: #{$md}) {
		.col-4 {
			width: 100%;
			max-width: 100%;
			height: 100vh;
		}
	}
}