.button {
    text-transform: uppercase;
    border-radius: $borderRadius;
    border: 1px solid $blackLight;
    padding: 10px 30px;
    font-weight: bold;;
    &:hover {
    	background-color: $green;
    }

    margin: 5rem 0;

    &.hide {
    	opacity: 0;
    	pointer-events: none;
    }
}