.button {
    text-transform: uppercase;
    border-radius: $borderRadius;
    border: 1px solid $blackLight;
    padding: 10px 30px;
    font-weight: bold;;
    cursor: pointer;

    &:hover {
    	background-color: $green;
    }

    margin: 5rem 0;
}