.button {
    text-transform: uppercase;
    border-radius: $borderRadius;
    border: 4px solid $blackLight;
    padding: 10px 30px;
    font-weight: bold;
    font-size: 2rem;
    font-family: $rubik;
    color: $black;
    cursor: pointer;

    @media(max-width: #{$md}) {
        font-size: 1.5rem;
    }

    &:hover {
    	background-color: $green;
        box-shadow: 10px 10px $green;
        transform: translate(-5px, -5px);
    }

    &:active {
        box-shadow: 4px 4px $greenDark;
        transform: translate(0, 0);
    }

    margin: 5rem 0;
}