.input {
    &__search {
        border: 1px solid $green;
        border-radius: 5px;
        background-color: transparent;
        padding: 1rem;
        color: $green;
        width: 350px;
        color: $white;
        margin-right: 1rem;
        font-family: $rubik;
        font-size: 1.6rem;

        &:focus {
        	background-color: $greenDark;
        }
    }
}